<div class="container_16">
		<div id="main" class="wrapper grid_11">
			<div id="content">
				
			</div>
		</div>
	</div>
	<a href="#/choice" style="text-align: center;"> retourner au menu ? </a>
	<div id="sidebar-container">
			<h1>Your Bills</h1>
		<div id="contentbill">
			
		</div>
			<div class="total">
<p>Total: <span class="prix-total"> 0 £</span>

</div>
	</div>