<div class="container_16">
		<div id="main" class="wrapper grid_11">
			<div id="content">
				
			</div>
		</div>
	</div>
	<div id="sidebar-container">
		<aside class="">
			<h1>Your Bills</h1>
			<div class="total">
				<p>Total: <span class="prix-total">20€</span>
			</div>
		</aside>
	</div>
	<a href="#/choice"> choice ? </a></br>
	<div id="credits">
  Sincere thanks to:<br />
<p>Baptiste et Damien</p>
</div>
