<div class="result">
<h1>Test avec employee</h1>

<h1>Element final</h1>

<div id="wrapper" class="grid clearfix">
	<% if @elements_final.empty?%>
		<h3>No orders in database</h3>
	<% else %>
		<% @elements_final.each do |k,v| %>
			<h1 class="grid-4"><%= k %></h1>
			<ol>
			<% v.each do |e|%>
				<li class="repo grid-1 available">
					<%= link_to staff_waiter_element_states_path(e.id) do %>
						<h2>Name: <%= e.item.name %></h2>
						<h3>Order n°: <%= e.order.id %></h3>
					<% end %>
				</li>
			<%end%>
			</ol>
		<% end %>
	<% end %>
</div>

