<script>
  
var ajax_call = function(){
	$.ajax({
	        url: '/staff/check_orders/' + <%= escape_javascript(@id) %>,
	        type: 'get',
	        contentType: 'application/json; charset=UTF-8',
	        success: function(res) {
	            $('.result').html(res);
	        },
	        error: function() {
	        	$('result').html('ERROR');
	        }
	    });
}

var interval = 1000 * 5 * 1;

setInterval(ajax_call, interval);

</script>


<h1>Waiters</h1>

<%= render 'orders' %>

