<div id="wrapper" class="grid clearfix">
	<ol>
	<% @tables.each do |t| %>
		<li class="repo grid-1">
			<h2>Table number <%= t.number_table %></h2>
			<h3>Number Seat <%= t.nb_seat %></h3>
		</li>
	<% end %>
	</ol>
</div>

<div id="wrapper" class="grid clearfix">
	<ol>
		<li class="repo grid-1">
			<a href="http://twitter.github.com/bootstrap/">
				<h2>Salade Verte</h2>
				<h3>Entrée</h3>
				<p>An HTML, CSS, and JS toolkit designed to kickstart development of webapps and sites</p>
			</a>
		</li>
		<li class="repo grid-1">
			<a href="http://twitter.github.com/bootstrap/">
				<h2>Apple Pie</h2>
				<h3>Dessert</h3>
				<p>An HTML, CSS, and JS toolkit designed to kickstart development of webapps and sites</p>
			</a>
		</li>
		<li class="repo grid-1">
			<a href="http://twitter.github.com/bootstrap/">
				<h2>Apple John</h2>
				<h3>Dessert</h3>
				<p>An HTML, CSS, and JS toolkit designed to kickstart development of webapps and sites</p>
			</a>
		</li>
		<li class="repo grid-1">
			<a href="http://twitter.github.com/bootstrap/">
				<h2>bootstrap</h2>
				<h3>Main Dish</h3>
				<p>An HTML, CSS, and JS toolkit designed to kickstart development of webapps and sites</p>
			</a>
		</li>
	</ol>
</div>
