<div id="wrapper" class="grid clearfix">
	<h1 class="grid-4">Table available</h1>
	<ol>
	<% @tables_available.each do |t| %>
		<li class="repo grid-1 available">
			<a href="#">
				<h2>Table number <%= t.number_table %></h2>
				<h3>Number Seat <%= t.nb_seat %></h3>
			</a>
		</li>
	<% end %>
	</ol>
	<h1 class="grid-4">Table not available</h1>
	<ol>
	<% @tables_not_available.each do |t| %>
		<li class="repo grid-1 not_available">
			<a href="#">
				<h2>Table number <%= t.number_table %></h2>
				<h3>Number Seat <%= t.nb_seat %></h3>
			</a>
		</li>
	<% end %>
	</ol>
</div>
