

				<div id="choice-1" class="choices">
					<h3>Meals</h3>
					<p>Choisissez parmi les menus qui vous sont proposé l’offre qui vous plait.</p>
				</div>
				<div id="choice-2" class="choices">
					<h3>Menus</h3>
					<p>Choisissez parmi les menus qui vous sont proposé l’offre qui vous plait.</p>
				</div>
				<div id="choice-3" class="choices">
					<h3>Drinks</h3>
					<p>Choisissez parmi les menus qui vous sont proposé l’offre qui vous plait.</p>
				</div>