<h1>Editing employee</h1>

<%= render :partial => 'form', :locals => {:restaurant => @restaurant}  %>

<%= link_to 'Show', admin_employees_path(@admin_employee) %> |
<%= link_to 'Back', admin_employees_path %>
