<h1>Editer serveur</h1>

<%= render :partial => 'form', :locals => {:restaurant => @restaurant}  %>

<%= link_to 'Détails', admin_employees_path(@employee) %> |
<%= link_to 'Retour', admin_employees_path %>
