html {
  background: url("../images/bg.png") repeat;
}

body {
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #666;
  min-width: 960px;
}

@font-face {
    font-family: 'BallparkWeiner';
    src: url('../fonts/ballpark_weiner-webfont.eot');
    src: url('../fonts/ballpark_weiner-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ballpark_weiner-webfont.woff') format('woff'),
         url('../fonts/ballpark_weiner-webfont.ttf') format('truetype'),
         url('../fonts/ballpark_weiner-webfont.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1 {
  font-weight: bold;
  font-size: 20px;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  color: #6c6c6f;
}

a:link, a:visited {
  color: #0084b4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.navbar {
	height: 50px;
	background: #333 url("../images/bg-head.png") repeat-x -70% 0
}

.navbar h1 {
	font: 18px/27px 'BallparkWeiner', Arial, sans-serif;
	float: left;
	font-size: 27px;
	color: white;
	padding-top: 12px;
	padding-left: 152px;
}

.navbar-fixed-top {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	margin-bottom: 0;
}

#wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 30px 0;
}

.content h1 {
	color: #333;
	border-bottom: 1px solid #dddddd;
	padding: 0 0 10px 0;
	margin: 0 0 20px 0;
}

li.repo {
  background: white;
  background: rgba(255, 255, 255, 0.7);
  -moz-box-shadow:    0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

li.repo {
  height: 110px;
}

li.repo > a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
}

li.repo a:hover {
  background: #efefef;
  background: rgba(0, 0, 0, 0.05);
}

li.repo h2, li.repo h3, li.repo p {
  margin: 10px 15px;
}

li.repo h2 {
  margin-bottom: 2px;
  max-width: 160px;
  overflow: hidden;
}

li.repo h3 {
  font-size: 11px;
  margin-top: 2px;
  margin-bottom: 15px;
  color: #999;
}

.repo:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-bottom: 50px solid transparent;
  border-left: 50px solid transparent;
  border-right: 50px solid #0080b0;
  pointer-events: none;
}

.repo.initial:after {
  border-right-color: #333;
}

.repo.send:after {
  border-right-color: #cc1100;
}

.repo.accept:after {
  border-right-color: #6aad2d;
}

.repo.cook:after {
  border-right-color: #cc8300;
}

.repo.serve:after {
  border-right-color: #7AC9DE;
}

.repo.not_available:after {
  border-right-color: #cc1100;
}

.repo.available:after {
  border-right-color: #6aad2d;
}

ul.legend {
	list-style-type: none;
	display: block;
	margin-top: 35px;
}

.legend li {
	float: left;
	margin-right: 10px;
	font-size: 14px;
	font-weight: bold;
}

.legend li.initial {
  color: #333;
}

.legend li.send {
  color: #cc1100;
}

.legend li.accept {
  color: #6aad2d;
}

.legend li.cook {
  color: #cc8300;
}

.legend li.serve {
  color: #7AC9DE;
}

#wrapper h3 {
	margin-bottom: 10px;
}


